/*Nav*/
.logo{
    width: 7.5em;
}
nav,footer{
    font-family: 'Pacifico', cursive;
    font-size: 1.7em;
}
a.mot{
    color:#000000 !important;
}
a.mot:hover{
    color: #FFC373 !important;
}

li{
    margin-right: 2em;
}

/*main*/
.img{
    height: 20em;
    border-radius: 20px;
    box-shadow:  0 0 20px rgb(0, 0, 0, 0.4);
}

.img1{
    width: 30em;
    height: 20em;
    border-radius: 20px;
    box-shadow:  0 0 20px rgb(0, 0, 0, 0.4);
}
.img3{
    border-radius: 20px;
    box-shadow:  0 0 20px rgb(0, 0, 0, 0.4);

}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 5em;
}
.h11{
    font-size: 3.2em !important;
}
p{
    font-family: 'Vollkorn', serif;
    font-size: 1.7em;
}
.width{
    width: 30em;
}
.grand{
    background-color: rgba(253, 253, 253, 0.473);
}
body{
    background-color: #F2EEE5;
}

/*footer*/
.lofo{
    width: 13em;
}

.longsearch{
    width: 16.8em;
    height: 3em;
}
.btndeco{
    background-color: #FFC373;
}

.cont{
    flex-direction: column;
}
.decotex{
    color: black;
}